html {
    background: red url(https://cdn.pixabay.com/photo/2016/01/06/10/33/bokeh-1123838_1280.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    /* text-align: center; */
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.title-position {
    font-family: 'helvetica neue'; 
    font-weight: 700px;
    font-size: 65px;
    margin: 80px;
    padding-bottom: 500px;
}

.clock {
    width: 50rem;
    height: 50rem;
    border: 20px solid black;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow:
      0 0 0 16px rgba(0,0,0,0.5),
      inset 0 0 0 3px black,
      inset 0 0 10px black,
      0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); 
    /* length of clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: goldenrod;
    box-shadow: 0 0 0 5px rgba(0,0,0,1);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}